<div class="box">
  <form (submit)="addNewPost($event)">
    <span class="text-center">Add a New Post</span>
    <div class="input-container">
      <input type="text" required [formControl]="title" id="title">
      <label>Title</label>
    </div>
    <div class="input-container">
      <textarea required [formControl]="description" id="description"></textarea>
      <label>Description</label>
    </div>
    <div class="input-container">
      <input type="text" required [formControl]="departmentCode" id="departmentCode">
      <label>Department</label>
    </div>
    <div *ngIf="hasError" class="error-message">{{ errorMessage }}</div>
    <button type="submit" class="btn">Add Post</button>    
  </form>
</div>