<!-- This is an HTML comment -->
<form (submit)="onaddpost(addPost)" #addPost="ngForm">
    <input type = "text"
    ngModel name = "enteredTitle"
    placeholder = "Post Title"
    required
    minlength = "1"
    pattern = "^[a-zA-Z0-9\s_-]+$"
    #enteredTitle = "ngModel"/>
    <input type = "text"
    ngModel name = "enteredDescription"
    placeholder = "Description"
    required
    minlength = "1"
    pattern = "^[a-zA-Z0-9\s_-]+$"
    #enteredDescription = "ngModel"/>
    <input type = "text"
    ngModel name = "enteredDepartmentCode"
    placeholder = "DepartmentCode"
    required
    minlength = "1"
    pattern = "^[a-zA-Z0-9\s_-]+$"
    #enteredDepartmentCode = "ngModel"/>

    <button type = "submit" >Add Post</button>
</form>