<!-- home.component.html -->
<div class="container">
    <h2>Welcome to the Home Page</h2>
  
    <!-- Display error message if there is an error -->
    <div *ngIf="hasError" class="alert alert-danger">{{ errorMessage }}</div>
  
    <!-- Add New Post Form -->
    <form (submit)="addNewPost($event)">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" [formControl]="title" required>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" [formControl]="description" required></textarea>
      </div>
  
      <div class="form-group">
        <label for="departmentCode">Department Code</label>
        <input type="text" id="departmentCode" class="form-control" [formControl]="departmentCode" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Add Post</button>
    </form>
  
    <!-- List of Posts -->
    <div class="mt-4">
      <h3>Posts</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let post of posts">
          {{ post.title }} - {{ post.description }}
          <button class="btn btn-danger float-right" (click)="deletePost(post._id)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
